:root{
    --blue:#002e5b;
    --red:#e74d58;
    --paste:#00cb9b;
    --violet:#5830e0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    text-transform: capitalize;
}
// html{
//     overflow-x: hidden;
// }
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul,ol{
    padding: 0 !important;
    list-style: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
// common 3 layer header ---------------------------------------------------
.threeheadercontainer{
    padding-top: 30px;
    height: 200px;
    
    .threedeader{
        display: flex;
        justify-content: center;
        .headerinner{
            position: relative;
            margin-left: 100px;
            h1{
               font-size: 120px;
               font-weight: bolder;
               color: #f5fafe;
               position: absolute;
               left: 50%;
               transform: translateX(-60%);
               -webkit-transform: translateX(-60%);
               -moz-transform: translateX(-60%);
               -ms-transform: translateX(-60%);
               -o-transform: translateX(-60%);
               z-index: 1;
}
            h3{
                position: absolute;
                left: 50%;
                transform: translateX(-60%);
                -webkit-transform: translateX(-60%);
                -moz-transform: translateX(-60%);
                -ms-transform: translateX(-60%);
                -o-transform: translateX(-60%);
                z-index: 2;
                font-size: 35px;
                font-weight: bolder;
                top: 87px;
                color:  var(--blue);
            }
            span{
               position: absolute;
               left: 50%;
               transform: translateX(-60%);
               -webkit-transform: translateX(-60%);
               -moz-transform: translateX(-60%);
               -ms-transform: translateX(-60%);
               -o-transform: translateX(-60%);
               z-index: 3;
               font-weight: bolder;
               color: var(--red);
               top: 57px;
            }
        }
    }
}
// common 3 layer header..............................................